form {
  display: flex;
  flex-direction: column;
  width: 80%; 

  margin: 0 auto;
  margin-top: 125px;
  background: #fff;
  padding: 20px;
  padding-top: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form_container {
  display: flex;
}
label {
  display: flex;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"] {
  display: flex;
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #6c8312;
  outline: none;
  box-shadow: 0 0 5px rgba(108, 131, 18, 0.5);
}

fieldset {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  background: #f9f9f9;
}

legend {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancel-button {
    background-color: #ed5050;
    color: white;
  }
  .save-button {
    background-color: #6c8312;
    color: white;
  }
  .cancel-button:hover {
    background-color: darkred;
  }
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  width: 100%; 
  display: block; 
}
