/* Global Styles */
h2 {
    text-align: center;
    margin-top: 20px;
    color: #444;
  }
  .container {
    width: 100%;
  }
  /* Form Container */
  form {
    width: 100%; /* Ajout de largeur au formulaire */
    max-width: 600px;
    margin: 0 auto; /* Centrer horizontalement */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    background: #f9f9f9;
  }
  
  legend {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Dropdown styles */
  .react-select-container {
    margin-bottom: 15px;
  }
  .react-select__control {
    border-color: #ccc;
    border-radius: 4px;
    box-shadow: none;
  }
  .react-select__control--is-focused {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .react-datepicker__input-container input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }