.header {
    display: flex;
    justify-content: space-between;
}

.entries-select label {
    margin-right: 10px;
  }
  
  .entries-select select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.search-box {
    display: flex;
    justify-content: center;
  }
  .search-box label {
    margin-right: 5px;
  }
  
  .search-box input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }

  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
  }
  
  .pagination-button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
  }
  
  .pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    margin: 0 5px;
    cursor: pointer;
    color: black;
  }
  .pagination-number.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-color: #007bff;
  }